/* Réinitialisation des styles par défaut */
body, ul, li, p, h1 {
  margin: 0;
  padding: 0;
}

/* Style pour la liste déroulante (masquée par défaut) */
#song-list-container {
  display: none;
  position: absolute;
  top: 50px; /* Ajustez la position verticale selon vos préférences */
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 999;
}

#song-list-container ul {
  list-style: none;
  padding: 10px;
}

#song-list-container li {
  margin-bottom: 10px;
}

#song-list-container li button {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#song-list-container li button:hover {
  background-color: #f5f5f5;
}

/* Style pour le bouton d'ouverture de la liste */
#song-list-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#song-list-btn:hover {
  background-color: #000000;
}

/* Style pour le lecteur audio et les boutons */
#lecteur-audio-container {
  max-width: 500px; /* Ajustez la largeur maximale du conteneur du lecteur audio */
  margin: 0 auto;
  border: 1px solid #000000; /* Bordure autour du lecteur audio */
  border-radius: 10px;
  margin-bottom: 20px;
}

#lecteur-audio {
  width: 100%;
}

#controls-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#controls-container button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#controls-container button:hover {
  background-color: #000000;
}

/* Style pour l'image */
#song-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#song-image {
  max-width: 100%; /* Image adaptée à la taille du lecteur */
  max-height: 300px; /* Ajustez la hauteur maximale selon vos préférences */
  border: 5px solid #ccc; /* Bordure autour de l'image */
  border-radius: 10px;
}

/* Style pour le bouton commenter */
#commentModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#commentText {
  width: 100%;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#commentText:focus {
  outline: none;
  border: 1px solid #333;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}

button:active {
  background-color: #000000;
}
